In [12]:
# Dependencies and Setup
import pandas as pd

In [13]:
# File to Load
csvfile = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(csvfile)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [14]:
# Total Number of Players
total_players = len(purchase_df["SN"].value_counts())
total_players = pd.DataFrame({"Total Players":[total_players]})
total_players

   Total Players
0            576

In [15]:
#Purchasing Analysis
unique_items = len(purchase_df["Item ID"].unique())
avg_price = purchase_df["Price"].mean()
revenue = purchase_df["Price"].sum()
total_pur = len(purchase_df.index)

purchase_total = pd.DataFrame({"Number of Unique Items":[unique_items], "Average Price":[avg_price], "Number of Purchases":[total_pur], "Total Revenue":[revenue]})
purchase_total

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [16]:
#Gender Demographics
# calculate to obtain number of count & percentage.
clean_data = purchase_df.drop_duplicates("SN")

gender_count = clean_data["Gender"].value_counts()

gender_percent = gender_count/clean_data["Gender"].count()*100

# Create a summary data frame to hold the results
gender_demo_df = pd.DataFrame({"Total Count": gender_count,"Percentage of Players": gender_percent})

# display data cleaner formatting in percent %
gender_demo_df["Percentage of Players"] = gender_demo_df["Percentage of Players"].map("{:.2f}%".format)

# Display the summary data frame
gender_demo_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [19]:
#Purchasing Analysis (Gender)
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
pur_count = purchase_df.groupby(['Gender']).count()["Price"]
gen_avg_price = purchase_df.groupby(['Gender']).mean()["Price"]
gen_sum = purchase_df.groupby(['Gender']).sum()["Price"]
#avg_total_pp = gen_sum/gender_df

In [23]:
#Display the Gender data frame
PA_Gender = pd.DataFrame()
PA_Gender["Purchase Count"]=pur_count
PA_Gender["Avg Purchase Price"]=gen_avg_price
PA_Gender["Total Purchase Price"]=gen_sum
PA_Gender["Avg Total Purchase per Person"]=""
PA_Gender

,Purchase Count,Avg Purchase Price,Total Purchase Price,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,
Male,652,3.017853,1967.64,
Other / Non-Disclosed,15,3.346000,50.19,

In [37]:
#Age Demographics

#establish_bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
# Create the names for the five bins
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

clean_data["Total Ages"] = pd.cut(clean_data["Age"], bins, labels=bin_names)

ages_count = clean_data["Total Ages"].value_counts()

ages_percent = (ages_count / clean_data["SN"].count())*100

ages_demo = pd.DataFrame({"Total Count":ages_count, "Percentage of Players":ages_percent})

ages_demo["Percentage of Players"] = ages_demo["Percentage of Players"].map("{:.2f}%".format)

ages_demo

       Total Count Percentage of Players
20-24          258                44.79%
15-19          107                18.58%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
10-14           22                 3.82%
<10             17                 2.95%
40+             12                 2.08%

In [41]:
# Age Demographics
av_price_age = clean_data.groupby(["Total Ages"]).Price.mean()
total_org_age = clean_data["Total Ages"].value_counts()
total_rev_age = clean_data.groupby(["Total Ages"]).Price.sum()
totalagestotal = clean_data["Total Ages"].value_counts()
av_price_clean_age=total_rev_age/totalagestotal

df_Total_Analysis_age=pd.DataFrame({"Purchases Count":total_org_age, 
                          "Average Price":av_price_age.astype(float).map("${:,.2f}".format), 
                          "Total Purchase Value":total_rev_age.astype(float).map("${:,.2f}".format), 
                          "Avg Total Purchase per Person":av_price_clean_age.astype(float).map("${:,.2f}".format)})

df_Total_Analysis_age.head(8)

,Purchases Count,Average Price,Total Purchase Value,Avg Total Purchase per Person
<10,17,$3.39,$57.63,$3.39
10-14,22,$3.07,$67.64,$3.07
15-19,107,$3.10,$331.88,$3.10
20-24,258,$3.06,$790.39,$3.06
25-29,77,$2.91,$223.93,$2.91
30-34,52,$2.92,$151.92,$2.92
35-39,31,$3.51,$108.81,$3.51
40+,12,$3.04,$36.45,$3.04

In [44]:
# Top Spenders
total_player_purchase  = purchase_df.groupby(["SN"]).Price.sum()
totave_player_price = purchase_df.groupby(["SN"]).Price.mean()
tot_purchase_value = purchase_df.groupby(["SN"]).Price.count()
purchase_df["Total Ages"]=pd.cut(purchase_df["Age"], bins, labels=bin_names)

df_total_SN=pd.DataFrame({"Purchases Count":tot_purchase_value, 
                          "Average Purchase Price":totave_player_price.astype(float).map("${:,.2f}".format), 
                          "Total Purchase Value":total_player_purchase})
df_total_SN=df_total_SN.sort_values(["Total Purchase Value"], ascending=False)
df_total_SN["Total Purchase Value"]=df_total_SN["Total Purchase Value"].map("${:,.2f}".format)
df_total_SN.head()

             Purchases Count Average Purchase Price Total Purchase Value
SN
Lisosia93                  5                  $3.79               $18.96
Idastidru52                4                  $3.86               $15.45
Chamjask73                 3                  $4.61               $13.83
Iral74                     4                  $3.40               $13.62
Iskadarya95                3                  $4.37               $13.10

In [47]:
# Most Popular Items

df_Items=purchase_df.groupby(["Item ID", "Item Name"])

purchase_count=df_Items["Item ID"].count()
purchase_count.describe()
item_price=df_Items["Price"].mean()
item_price.describe()


total_purchase_value=df_Items["Price"].sum()

Most_Popular_Items=pd.DataFrame({"Purchase Count": purchase_count, 
                                  "Item Price": item_price.astype(float).map("${:,.2f}".format),
                                  "Total Purchase Value": total_purchase_value.astype(float).map("${:,.2f}".format)})
Most_Popular_Items.sort_values("Purchase Count", ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [51]:
# Most Profitable Items
Most_Profit_Items=pd.DataFrame({"Purchase Count": purchase_count, 
                                  "Item Price": item_price.astype(float).map("${:,.2f}".format),
                                  "Total Purchase Value": total_purchase_value.astype(float)})

Most_Profit_Items = Most_Profit_Items.sort_values(["Total Purchase Value"], ascending=False)
Most_Popular_Items2["Total Purchase Value"]=Most_Profit_Items["Total Purchase Value"].map("${:,.2f}".format)
Most_Profit_Items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
82,Nirvana,9,$4.90,44.10
145,Fiery Glass Crusader,9,$4.58,41.22
103,Singed Scalpel,8,$4.35,34.80