In [1]:
# Dependencies and Setup
import pandas as pd

In [4]:
# File to Load
csvfile = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(csvfile)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
purchase_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [6]:
# Total Number of Players
player_count= len(purchase_df["SN"].value_counts())
total_players=pd.DataFrame({"Total Players":[player_count]})
total_players

   Total Players
0            576

In [7]:
#Purchasing Analysis
unique_items = len(purchase_df["Item ID"].unique())
avg_price = purchase_df["Price"].mean()
revenue = purchase_df["Price"].sum()
total_pur = len(purchase_df.index)

purchase_total = pd.DataFrame({"Number of Unique Items":[unique_items], "Average Price":[avg_price], "Number of Purchases":[total_pur], "Total Revenue":[revenue]})
purchase_total

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [8]:
#Gender Demographics
gender_df = purchase_df.drop_duplicates("SN")
gender_demo = pd.DataFrame(gender_df["Gender"].value_counts())
gender_demo

                       Gender
Male                      484
Female                     81
Other / Non-Disclosed      11

In [9]:
#Purchasing Analysis (Gender)
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
pur_count = purchase_df.groupby(['Gender']).count()["Price"]
gen_avg_price = purchase_df.groupby(['Gender']).mean()["Price"]
gen_sum = purchase_df.groupby(['Gender']).sum()["Price"]

In [10]:
#Display the summary data frame
PA_Gender = pd.DataFrame()
PA_Gender["Purchase Count"]=pur_count
PA_Gender["Avg Purchase Price"]=gen_avg_price
PA_Gender["Total Purchase Price"]=gen_sum
PA_Gender

,Purchase Count,Avg Purchase Price,Total Purchase Price
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

In [11]:
age_df = pd.DataFrame(pur_count)
age_df

                       Price
Gender
Female                   113
Male                     652
Other / Non-Disclosed     15

In [26]:
#establish_bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
# Create the names for the five bins
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

ages_df = purchase_df[["SN", "Age"]]
ages_df["Age Group"] = pd.cut(ages_df["Age"], bins, labels=bin_names)
ages_group = ages_df.groupby("Age Group")
ages_count = ages_df["SN"].nunique()
ages_percent = (ages_count / total_players)*100

ages_demo = pd.DataFrame
ages_demo["Total Count"]=ages_count
ages_demo["Percentage of Players"]=ages_percent
ages_demo

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

TypeError: 'type' object does not support item assignment

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            SN  Age
Age Group
<10         23   23
10-14       28   28
15-19      136  136
20-24      365  365
25-29      101  101
30-34       73   73
35-39       41   41
40+         13   13