In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load
csvfile = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(csvfile)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Total Number of Players
total_players = len(purchase_df["SN"].value_counts())
total_players = pd.DataFrame({"Total Players":[total_players]})
total_players

   Total Players
0            576

In [5]:
#Purchasing Analysis
unique_items = len(purchase_df["Item ID"].unique())
avg_price = purchase_df["Price"].mean()
revenue = purchase_df["Price"].sum()
total_pur = len(purchase_df.index)

purchase_total = pd.DataFrame({"Number of Unique Items":[unique_items], "Average Price":[avg_price], "Number of Purchases":[total_pur], "Total Revenue":[revenue]})
purchase_total

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [25]:
#Gender Demographics
gender_df = purchase_df.drop_duplicates("SN")
gender_count = pd.DataFrame(gender_df["Gender"].value_counts())
gender_percent = gender_total/total_players*100
gender = pd.DataFrame({"Gender":[gender_count],"Total count":[gender_total], "Percent of Players":[gender_percent]})
gender

,Gender,Total count,Percent of Players
0,Gender Male ...,576,Total Players 0 100.0

In [28]:
gender_demo = pd.DataFrame()
gender_demo["Gender"]=gender_count
gender_demo["Total"]=gender_total
gender_demo["Percent of Players"]=gender_percent
gender_demo

ValueError: Cannot set a frame with no defined index and a value that cannot be converted to a Series

In [22]:
#Purchasing Analysis (Gender)
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
pur_count = purchase_df.groupby(['Gender']).count()["Price"]
gen_avg_price = purchase_df.groupby(['Gender']).mean()["Price"]
gen_sum = purchase_df.groupby(['Gender']).sum()["Price"]
#avg_total_pp = gen_sum/gender_df

In [24]:
#Display the Gender data frame
PA_Gender = pd.DataFrame()
PA_Gender["Purchase Count"]=pur_count
PA_Gender["Avg Purchase Price"]=gen_avg_price
PA_Gender["Total Purchase Price"]=gen_sum
PA_Gender["Avg Total Purchase per Person"]=""
PA_Gender

,Purchase Count,Avg Purchase Price,Total Purchase Price,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,
Male,652,3.017853,1967.64,
Other / Non-Disclosed,15,3.346000,50.19,

In [ ]:
age_df = pd.DataFrame(pur_count)
age_df

In [ ]:
#Age Demographics

#establish_bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
# Create the names for the five bins
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

ages_df = purchase_df[["SN", "Age"]]
ages_df["Age Group"] = pd.cut(ages_df["Age"], bins, labels=bin_names)
ages_group = ages_df.groupby("Age Group")
#ages_count = ages_df["SN"].nunique()
ages_percent = (pur_count / total_players)*100

ages_demo = pd.DataFrame
ages_demo["Total Count"]=pur_count
ages_demo["Percentage of Players"]=ages_percent
ages_demo

In [ ]:
#Purchasing Analysis (Age)